<div class="x_panel">
  <div class="x_title">
    <% if @b.id.nil? %>
      <h2>게시판 생성 <small></small></h2>
    <% else %>
      <h2><%= @b.title %> 게시판 수정 <small></small></h2>
    <% end %>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form action="/admin/board" method="POST" data-parsley-validate class="form-horizontal form-label-left">
        <input type="hidden" value="<%= params[:id] %>" name="id">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">게시판 제목 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12" value="<%= @b.title %>">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">게시판 소개글
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="content" class="form-control col-md-7 col-xs-12" value="<%= @b.content %>">
        </div>
      </div>
      <div class="form-group">
        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">순서<span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control col-md-7 col-xs-12" type="number" name="turn" required="true" value="<%= @b.turn %><%= '1' if @b.turn.nil? %>">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">읽기 권한</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="btn-group" data-toggle="buttons">
              <input type="radio" class="flat" name="a_read" value="3" <%= "checked" if @b.a_read == 3 || @b.a_read.nil? %> required />
              모두
              <br>
              <input type="radio" class="flat" name="a_read" value="2" <%= "checked" if @b.a_read == 2 %> />
              구성원 + 관리자
              <br>
              <input type="radio" class="flat" name="a_read" value="1" <%= "checked" if @b.a_read == 1 %> />
              관리자
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">쓰기 권한</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="btn-group" data-toggle="buttons">
              <input type="radio" class="flat" name="a_write" value="3" <%= "checked" if @b.a_write == 3 || @b.a_write.nil? %>  required />
              모두
              <br>
              <input type="radio" class="flat" name="a_write" value="2" <%= "checked" if @b.a_write == 2 %> />
              구성원 + 관리자
              <br>
              <input type="radio" class="flat" name="a_write" value="1" <%= "checked" if @b.a_write == 1 %> />
              관리자
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">삭제 권한</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="btn-group" data-toggle="buttons">
              <input type="radio" class="flat" name="a_delete" value="3" <%= "checked" if @b.a_delete == 3  || @b.a_delete.nil?%>  required />
              모두
              <br>
              <input type="radio" class="flat" name="a_delete" value="2" <%= "checked" if @b.a_delete == 2 %> />
              구성원 + 관리자
              <br>
              <input type="radio" class="flat" name="a_delete" value="1" <%= "checked" if @b.a_delete == 1 %> />
              관리자
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">비밀글 설정 가능여부</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="">
              <label>
                <input type="checkbox" class="flat" value="1" name="a_secret" <%= "checked" if @b.a_secret == 1 %> />
              </label>
          </div>
        </div>
      </div>
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">확인</button>
          <% unless @b.id.nil? %>
            <%= link_to '삭제',  "/admin/board/delete/#{@b.id}", class: 'btn btn-danger',
            data: { confirm: '정말 삭제하시겠습니까?' } %>
            <a href="/admin/posts/<%= @b.id %>" class="btn btn-warning">게시글</a>
          <% end %>
        </div>
      </div>

    </form>
  </div>
</div>
