<div class="x_panel">
  <div class="x_title">
    <% if @b.id.nil? %>
      <h2><%= @t.title %>탭 > 인탭 생성 <small></small></h2>
    <% else %>
      <h2><%= @t.title %>탭 > <%= @b.title %> 인탭 관리 <small></small></h2>
    <% end %>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />
    <form action="/admin/intab" method="POST" data-parsley-validate class="form-horizontal form-label-left">
        <input type="hidden" value="<%= params[:id] %>" name="id">
        <input type="hidden" value="<%= @t.id %>" name="tab_id">
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">인탭 제목 <span class="required">*</span>
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="title" required="required" class="form-control col-md-7 col-xs-12" value="<%= @b.title %>">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">인탭 설명
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input type="text" name="description" class="form-control col-md-7 col-xs-12" value="<%= @b.description %>">
        </div>
      </div>
      <%
      intab_type = [
        ['introduce', '소개'],
        ['org', 'org'],
        ['map', '지도'],
        ['card', '카드'],
        ['people', '구성원'],
        ['bloglist', 'bloglist'],
        ['list', '리스트']
      ]
      %>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">인탭 타입</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="template" class="form-control col-md-7 col-xs-12">
            <% intab_type.each do |type| %>
              <option value="<%= type[0] %>" <%= 'selected' if @b.template == type[0] %>><%= type[1] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">연결된 게시판</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <select name="board_id" class="form-control col-md-7 col-xs-12">
            <option value="">선택</option>
            <% Board.all.each do |b| %>
              <option value="<%= b.id %>" <%= 'selected' if !(@b.board.nil?) && @b.board.id == b.id %>><%= b.title %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">순서<span class="required">*</span></label>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <input class="form-control col-md-7 col-xs-12" type="number" name="turn" required="true" value="<%= @b.turn %><%= '1' if @b.turn.nil? %>">
        </div>
      </div>
      <div class="ln_solid"></div>
      <div class="form-group">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
          <button type="submit" class="btn btn-success">확인</button>
          <% unless @b.id.nil? %>
            <%= link_to '삭제',  "/admin/intab/delete/#{@b.id}", class: 'btn btn-danger',
            data: { confirm: '정말 삭제하시겠습니까?' } %>
          <% end %>
        </div>
      </div>
    </form>
  </div>
</div>
