<div class="x_panel">
  <div class="x_title">
    <h2>유저 조회 및 관리 <small></small></h2>
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="x_content">
    <br />

    <table id="user_table" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Name</th>
          <th>Contact</th>
          <th>Commands</th>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% User.all.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.email %></td>
          <td><%= u.name %></td>
          <td><%= u.contact %></td>
          <td><a href="/admin/user_manage/<%= u.id %>"><button class="btn btn-sm btn-primary">Manage</button></a></td>
        </tr>
        <% i += 1 %>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#user_table').DataTable({
    // "order": [[ 1, "asc" ]],
    // "ordering": false,
    // "searching": false
  });

} );
</script>
