<section id="header" style="padding-bottom: 10px;">
    <div class="header-img" style="background-image: url(/main/images/business/12.jpg);">
        <center>
            <h1>게시판</h1>
            <h2>법무법인 인본</h2>
        </center>
    </div>
    <ol class="breadcrumb">
        <li><a href="/home/main" style="">Home</a></li>
        <li class="active">Board</li>
    </ol>
</section>

<div class="container" style="padding-bottom: 30px;">
    <div class="row">
        <div class="col-xs-2">
            <div class="tab-box">
                <h1>Board</h1>
            </div>
            <!-- required for floating -->
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tabs-left" style="border: 1px solid #CCCCCC;">
              <% Board.all.order('turn asc').each do |b| %>
                <li class="active"><a href="#board<%= b.id %>" data-toggle="tab"><%= b.title %></a>
                </li>
              <% end %>
                <!-- <li class="active"><a href="#home" data-toggle="tab">공지사항</a>
                </li>
                <li><a href="#profile" data-toggle="tab">게시판1</a>
                </li>
                <li><a href="#messages" data-toggle="tab">게시판2</a>
                </li>
                <li><a href="#settings" data-toggle="tab">게시판3</a>
                </li> -->
            </ul>
        </div>

        <div class="col-xs-8">
            <!-- Tab panes -->

            <div class="tab-content">
              <% Board.all.order('turn asc').each do |b| %>
                <div class="tab-pane active" id="home">
                    <p class="lead"><%= b.title %></p>
                    <p class="second-lead"><%= b.content %></p>
                    <hr class="lead-hr">
                    <table id="example" class="uk-table uk-table-hover uk-table-striped" cellspacing="0" width="100%">
                    <!-- <table id="example" class="display" cellspacing="0" width="100%"> -->
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>날짜</th>
                                <th>조회수</th>
                            </tr>
                        </thead>
                        <tbody>
                          <% i = 1 %>
                          <% b.posts.order('id desc').each do |p| %>
                            <tr>
                                <td><%= i %></td>
                                <td><%= p.title %></td>
                                <td><%#= p.user.name %></td>
                                <td><%= p.created_at %></td>
                                <td><%#= p.viewcount %></td>
                            </tr>
                            <% i +=1 %>
                          <% end %>
                        </tbody>
                    </table>
                    <div>
                      <button class="btn btn-warning" style="float: right;">게시물 작성</button>
                    </div>
                </div>
            <% end%>
        </div>

        <div class="clearfix"></div>
    </div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function() {
    $('#example').DataTable({
        // "order": [[ 1, "asc" ]],
        "ordering": false,
        "searching": false
    });

} );
</script>
