<nav id="mother_nav" class="navbar navbar-default">
  <div id="login_container" class="container">
    <% if user_signed_in? %>
      <a class="" href="/users/sign_out"> 로그아웃 </a>
      <a class="" href="/users/edit"> 회원정보 수정 </a>
      <% if is_admin? %>
        <!-- <a class="" href="/admin/index"> ADMIN </a> -->
      <% end %>
    <% else %>
      <a class="" href="/users/sign_in">로그인</a>
    <% end %>
    <a class="" href="/admin/index"> ADMIN </a>
  </div>
  <div id="main_container" class="container">
    <nav id="child_nav" class="navbar navbar-default">
      <div class="container-fluid child_height">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header child_height">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/site/main" style="height: 94px;margin-top: -33px;"><img src="/main/images/inbon_logofix.png"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"  style="">
          <!--<form class="navbar-form navbar-left" role="search">-->
          <!--  <div class="form-group">-->
          <!--    <input type="text" class="form-control" placeholder="Search">-->
          <!--  </div>-->
          <!--  <button type="submit" class="btn btn-default">Submit</button>-->
          <!--</form>-->
          <style>
              .tab-ul > a{
                  color:inherit;
                  text-decoration:none;
              }
              .tab-ul > a:hover{
                  font-weight:bold;
              }
          </style>

          <ul class="nav navbar-nav navbar-right child_height tab_box">
            <% Tab.all.each do |tab| %>
              <li id="tab<%= tab.id %>" class="tab <%#= "active" if params[:action] == ""%>"><a href="#"><%= tab.title %> <span class="sr-only">(current)</span></a></li>
              <ul id="dropdown_tab<%= tab.id %>" class="tab-ul" style="display:none;margin-left:<%= 13.3 * (tab.id - 1) %>%;">
                <% tab.intabs.each do |intab| %>
                  <a href="/sites/<%= intab.id %>"><li><%= intab.title %></li></a>
                <% end %>
              </ul>
              <script>
                $("#tab<%= tab.id %>").hover(function(){
                  $("#dropdown_tab<%= tab.id %>").show();
                },function(){
                  $("#dropdown_tab<%= tab.id %>").hide();
                })
                $("#dropdown_tab<%= tab.id %>").hover(function(){
                  $("#dropdown_tab<%= tab.id %>").show();
                },function(){
                  $("#dropdown_tab<%= tab.id %>").hide();
                });
                </script>
            <% end %>

            <% if params[:admin] != nil %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            <% end %>

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</nav>
