<link rel="stylesheet" href="/main/css/page_common.css">

<div id="identityPannel" style="background-image: url("<%= @tab[:picture] %>");"></div>
<div id="identityPannel_cover">
  <p><%= @intab[:title] %></p>
  <p><%= @intab[:description] %></p>
</div>
<div id="current_position">
  <div class="container" style="padding: 0px 30px;">
    <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; <a href="/site/main" style="color: inherit;font-weight:400;">HOME</a> &nbsp;&nbsp;>&nbsp;&nbsp; <span style="font-weight:400;"><%= @tab[:title] %></span> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="#" style="color: inherit;"><%= @intab[:title] %></a></p>
    <div id="callBox"><span class="glyphicon glyphicon-earphone"></span>&nbsp; 02) 596 - 9400</div>
  </div>
</div>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <div id="member_detail_1" class="col-sm-12" style="padding:0;">
      <div class="col-sm-3" style="padding:0px 15px;margin-top:15px;">
        <!--
            Side Navigation Box==
        ------------------------->
        <div id="side_tab_box">
          <div class="currentTab">
            <p><%= @tab[:title] %></p>
          </div>
          <div class="intabs_wrap">
            <% @intabs.each do |x| %>
              <a href="/site/grouping_6/<%= x[:id] %>"><p class="intab_in_currentTab <%= "active" if x[:title] == @intab[:title] %> "><%= x[:title] %></p></a>
            <% end %>
          </div>
        </div>
        <!--End-->
      </div>
      <div class="col-sm-9" style="padding:0px 15px;margin-top:15px;">
        
      </div>
    </div>
  </div>
</div>

<style>
/*local-template CSS*/
  
</style>
<script>
// local-template JS
  
</script>