<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 30px;text-align: center;"><%#= @intab.boards.take.title %></p>
    <% els = @intab.posts.count%3 %>
    <% div = @intab.posts.count/3 %>
    <% 
      if els == 0
        d = div
        e = true
      else
        d = div + 1
        e = false
      end
      el = @intab.posts.count - els
    %>
    <% d.times do |i| %>
      <% if els != 0 %>
        <div class="col-xs-12" style="height:250px; margin:10px 0px;">
          <div class="col-sm-2"></div>
          <% @intab.posts.first(els).each do |po| %>
            <div class="col-sm-4" style="height:100%;">
              <a href="<%= po.content %>" style="text-decoration:none;" target="_blank">
                <div class="card" style="<%= po.img1 %>">
                  <p><%= po.title %></p>
                </div>
                <div class="card-cover">
                  <p><%= po.title %></p>
                </div>
              </a>
            </div>
            <% els = els - 1 %>
          <% end %>
          <div class="col-sm-2"></div>
        </div>
      <% else %>
        <div class="col-xs-12" style="height:250px; margin:10px 0px;">
          <% @intab.posts.last(el).each do |po| %>
          <div class="col-sm-4" style="height:100%;">
            <a href="<%= po.content %>" style="text-decoration:none;" target="_blank">
              <div class="card" style="<%= po.img1 %>">
               <p><%= po.title %></p>
              </div>
              <div class="card-cover">
                <p><%= po.title %></p>
              </div>
            </a>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<style>
  .card{
    width:100%;
    min-height:100%;
    box-shadow: #555 2px 2px 5px;
    font-size:25px;
    padding-top:115px;
    text-align:center;
    font-weight:bold;
    color:#fff;
  }
  .card-cover{
    width:100%;
    min-height:100%;
    margin-top:-260px;
    font-size:25px;
    padding-top:115px;
    text-align:center;
    font-weight:bold;
    color:rgba(255,255,255,0);
    background:rgba(255,255,255,0);
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -o-transition: all .3s ease; /* Opera */
    transition: all .3s ease; /* Standard */
  }
  .card-cover:hover{
    color:#333;
    background:rgba(255,255,255,1);
  }
</style>