<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    
    <!--head>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  -->
      <% if @is_admin == true && @mod_select == "title" %>
      <!--Admin Modify-->
        <form action="/board/board_update" method="POST">
          <input type="hidden" name="id" value="<%= @intab.board.id %>">
          <input type="hidden" name="intab_id" value="<%= @intab.id %>">
          <input type="text" name="title" id="introduce-title-input" class="input-40" style="margin-top: 0;margin-left: 30%;" value="<%= @intab.board.title %>"><button type="submit" class="btn btn-info" id="introduce-title-submit">저장</button>
          <a href="/sites/<%= @intab.id %>" class="btn btn-warning" id="introduce-title-submit" style="border-radius:5px; margin-top:10px">취소</a>
        </form>
      <% elsif @is_admin == true && @mod_select != "title" %>
      <!--Admin See-->
        <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 30px;text-align: center;"><%= @intab.board.title %></p>
        <a href="?mod=title" class="btn btn-warning go_mod-button" id="" style="border-radius:5px;">수정</a>
        <% if @mod_select != "addBox" %>
        <a href="?mod=addBox" class="btn btn-danger go_mod-button" id="" style="border-radius:5px; right:55px;">추가</a>
        <% else %>
        <a href="/sites/<%= @intab.id %>" class="btn btn-info go_mod-button" id="" style="border-radius:5px; right:55px;">취소</a>
        <form action="/board/post_create">
          새로운 카드 추가하기 : <input type="hidden" name="board_id" value="<%= @intab.board.id %>">
          <input type="text" name="img1" class="input-20" value="background-color: #">
          <input type="text" name="title" class="input-25" placeholder="카드 이름을 넣으세요">
          <input type="text" name="content" class="input-35" placeholder="링크 주소를 넣으세요">
          <button type="submit" class="btn btn-primary btn-sm">저장</button>
        </form>
        <% end %>
      <% else %>
      <!--General See-->
        <p id="introduce-title" style="font-size: 30px;margin-top: 10px;margin-bottom: 30px;text-align: center;"><%= @intab.board.title %></p>
      <% end %>
    <!--<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<  -->
    
    
    <% els = @intab.posts.count%3 %>
    <% div = @intab.posts.count/3 %>
    <% 
      if els == 0
        d = div
        e = true
      else
        d = div + 1
        e = false
      end
      el = @intab.posts.count - els
    %>
    <% d.times do |i| %>
      <% if els != 0 %>
        <div class="col-xs-12" style="height:250px; margin:10px 0px;">
          <div class="col-sm-2"></div>
          <% @intab.posts.first(els).each do |po| %>
            <div class="col-sm-4" style="height:100%;">
              <a href="<%= po.content %>" style="text-decoration:none;" target="_blank">
                <div class="card" style="<%= po.img1 %>">
                  <p><%= po.title %></p>
                </div>
                <div class="card-cover">
                  <p><%= po.title %></p>
                </div>
                <% if @is_admin == true && @mod_select == "#{po.id}" %>
                  <form action="/board/post_update" method="POST">
                    <input type="hidden" name="id" value="<%= po.id %>">
                    <input type="hidden" name="board_id" value="<%= po.board_id %>">
                    <button type="submit" href="/sites/<%= @intab.id %>" class="btn btn-info btn-sm" style="position: absolute;top: 0;">저장</button>
                    <a href="/sites/<%= @intab.id %>" class="btn btn-warning btn-sm" style="position: absolute;top: 0;left:60px;">취소</a>
                    <input type="text" name="img1" class="input-65" value="<%= po.img1 %>" style="position:absolute;top: 0;left:105px;max-width:255px"><br>
                    <span style="color:#fff;position:absolute;top:40px;right:25px;">: 이름</span><input type="text" name="title" class="" value="<%= po.title %>" style="position:absolute;top: 35px;width:275px;"><br>
                    <span style="color:#fff;position:absolute;top:70px;right:25px;">: 링크</span><input type="text" name="content" class="" value="<%= po.content %>" style="position:absolute;top: 65px;width:275px;">
                  </form>
                <% elsif @is_admin == true && @mod_select != "#{po.id}" %>
                  <a href="?mod=<%= po.id %>" class="btn btn-warning btn-sm" style="position: absolute;top: 0;">수정</a>
                <% end %>
              </a>
            </div>
            <% els = els - 1 %>
          <% end %>
          <div class="col-sm-2"></div>
        </div>
      <% else %>
        <div class="col-xs-12" style="height:250px; margin:10px 0px;">
          <% @intab.posts.last(el).each do |po| %>
          <div class="col-sm-4" style="height:100%;">
            <a href="<%= po.content %>" style="text-decoration:none;" target="_blank">
              <div class="card" style="<%= po.img1 %>">
                <p><%= po.title %></p>
              </div>
              <div class="card-cover">
                <p><%= po.title %></p>
              </div>
              <% if @is_admin == true && @mod_select == "#{po.id}" %>
                <form action="/board/post_update" method="POST">
                  <input type="hidden" name="id" value="<%= po.id %>">
                  <input type="hidden" name="board_id" value="<%= po.board_id %>">
                  <button type="submit" href="/sites/<%= @intab.id %>" class="btn btn-info btn-sm" style="position: absolute;top: 0;">저장</button>
                  <a href="/sites/<%= @intab.id %>" class="btn btn-warning btn-sm" style="position: absolute;top: 0;left:60px;">취소</a>
                  <input type="text" name="img1" class="input-65" value="<%= po.img1 %>" style="position:absolute;top: 0;left:105px;max-width:255px"><br>
                  <span style="color:#fff;position:absolute;top:40px;right:25px;">: 이름</span><input type="text" name="title" class="" value="<%= po.title %>" style="position:absolute;top: 35px;width:275px;"><br>
                  <span style="color:#fff;position:absolute;top:70px;right:25px;">: 링크</span><input type="text" name="content" class="" value="<%= po.content %>" style="position:absolute;top: 65px;width:275px;">
                </form>
              <% elsif @is_admin == true && @mod_select != "#{po.id}" %>
                <a href="?mod=<%= po.id %>" class="btn btn-warning btn-sm" style="position: absolute;top: 0;">수정</a>
              <% end %>
            </a>
          </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<style>
  .card{
    width:100%;
    min-height:100%;
    box-shadow: #555 2px 2px 5px;
    font-size:25px;
    padding-top:115px;
    text-align:center;
    font-weight:bold;
    color:#fff;
  }
  .card-cover{
    width:100%;
    min-height:100%;
    margin-top:-260px;
    font-size:25px;
    padding-top:115px;
    text-align:center;
    font-weight:bold;
    color:rgba(255,255,255,0);
    background:rgba(255,255,255,0);
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease; /* WebKit */
    -o-transition: all .3s ease; /* Opera */
    transition: all .3s ease; /* Standard */
  }
  .card-cover:hover{
    color:#333;
    background:rgba(255,255,255,1);
  }
</style>