<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <img src="<%= @intab.posts.first.img2 %>" style="<%= "display:none;" if @intab.posts.first.img2.length < 1 %> float:right;width:200px;height:200px;margin:0px 5px;">
    <img src="<%= @intab.posts.first.img1 %>" style="<%= "display:none;" if @intab.posts.first.img1.length < 1 %> float:right;width:200px;height:200px;margin:0px 5px;">
    <p id="introduce-title"><%= @intab.posts.first.title %></p>
    <pre id="introduce-content"><%= @intab.posts.first.content %></pre>
    <p id="introduce-signature"><%= @intab.posts.first.subtitle %></p>
  </div>
</div>