<%= render partial: 'site/features/page_common_CSS' %>
<%= render partial: 'site/features/page_common_header' %>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <div id="member_detail_1" class="col-sm-12" style="padding:0;">
      <div class="col-sm-3" style="padding:0px 15px;margin-top:15px;">
        <!--
            Side Navigation Box==
        ------------------------->
        <%= render partial: 'site/features/sideNavBox' %>
        <!--End-->
      </div>
      <div class="col-sm-9" style="padding:0px 15px;margin-top:15px;">
        <p id="sortingTab" style="margin-bottom: 0px;border-bottom: 0px;">
          <% i=1 %>
          <% @sortingTab.each do |s| %>
            <span id="table_<%=i%>" class="sortBtn <%= "active" if i == 1 %>"><%= s %></span>
            <% i+=1 %>
          <% end %>
        </p>
        <table id="eTable_1" class="table table-hover">
          <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <table id="eTable_2" class="table table-hover" style="display:none;">
          <thead>
            <tr>
              <th>#</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <table id="eTable_3" class="table table-hover" style="display:none;">
          <thead>
            <tr>
              <th>3</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<style>
  #sortingTab{
    color:#377ab7;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    padding-top: 7px;
    border-bottom: 3px solid;
    overflow: auto;
  }
  #sortingTab > span{
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    /*background: #673AB7;*/
    background:rgba(103, 58, 183, 0.75);
    box-shadow: 1px 1px 5px #555;
    font-size: 15px;
    padding: 7px 9px;
  }
  #sortingTab > span:hover{
    padding: 9px 9px;
  }
  #sortingTab > span.active{
    color: rgba(255, 255, 255, 1);
    background:rgba(103, 58, 183, 1);
  }
  .table{
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
</style>
<script>
  $("#table_1").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_1").show();
  });
  $("#table_2").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_2").show();
  });
  $("#table_3").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_3").show();
  });
  // $("#member_2").click(function(){
  //   $("#member_1").removeClass("active");
  //   $("#member_detail_1").fadeOut();
  //   $(this).addClass("active");
  //   $("#member_detail_2").fadeIn();
  // });
</script>


<style>
  .address{
    font-size: 22px !important;
    font-weight: bold;
    color: #666;
  }
  .address > span.detail{
    font-size: 21px !important;
    font-weight: 400;
    color: #555;
    background:#fff;
  }
  .trans{
    margin-top:20px;
  }
  .trans > p.detail{
    font-size: 22px !important;
    padding-left:10px;
  }
</style>