<style>
  #identityPannel{
    width: 100%;
    height: 260px;
    background-image: url("/main/images/slider/slide4.jpg");
    background-size: cover;
    background-position-y: 25%;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #identityPannel_cover{
    width: 100%;
    height: 260px;
    margin-top: -260px;
    background:rgba(0,0,0,0.3);
  }
  #identityPannel_cover > p{
    color: #fff;
    text-align: center;
  }
  #identityPannel_cover > p:first-child{
    font-size: 40px;
    padding-top: 80px;
  }
  #identityPannel_cover > p:nth-child(2){
    font-size:25px;
  }
  #current_position{
    width:100%;
    height:50px;
    background:#ddd;
    box-shadow: #aeaeae 0px 2px 10px;
  }
  #current_position p{
    font-size: 20px;
    color: #777;
    font-weight: bold;
    margin-top: 12px;
    float: left;
  }
  #callBox{
    float:right;
    font-size: 18px;
    color: #777;
    font-weight: bold;
    padding: 12px 24px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
  }
  
  #contents{
    padding-top:50px;
    padding-bottom:30px;
  }
  #contents p{
    font-size: 24px;
  }
  #contents pre{
    white-space: pre-line;
    line-height: 2;
    background: none;
    border: none;
    font-size: 18px;
    font-family: inherit;
    padding: 9.5px 0px;
    clear: both;
  }
  #introduce-signature{
    float: right;
  }
  
  
  
  #side_tab_box{
    width:100%;
    margin:0px 5px;
    box-shadow: #777 2px 2px 11px;
    color:#fff;
    text-align: center;
  }
  #side_tab_box .currentTab{
    width:100%;
    background:#333;
    cursor: pointer;
  }
  #side_tab_box .currentTab > p {
    font-size:25px;
    font-weight:bold;
    padding: 25px;
    margin: 0;
  }
  #side_tab_box .intabs_wrap{
    width:100%;
    color: #666;
  }
  #side_tab_box .intabs_wrap .intab_in_currentTab{
    font-size:23px;
    font-weight: bold;
    padding: 10px 0px;
    margin: 0;
    border-bottom: 1px solid #666;
    cursor: pointer;
    transition:all 0.1s;
  }
  #side_tab_box .intabs_wrap .intab_in_currentTab:hover{
    background: #dddeee;
  }
</style>

<div id="identityPannel"></div>
<div id="identityPannel_cover">
  <p>분야별</p>
  <p>법무법인 인본의 업무 분야 입니다.</p>
</div>
<div id="current_position">
  <div class="container" style="padding: 0px 30px;">
    <p><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; <a href="/site/main" style="color: inherit;font-weight:400;">HOME</a> &nbsp;&nbsp;>&nbsp;&nbsp; <span style="font-weight:400;">업무분야</span> &nbsp;&nbsp;>&nbsp;&nbsp; <a href="#" style="color: inherit;">분야별</a></p>
    <div id="callBox"><span class="glyphicon glyphicon-earphone"></span>&nbsp; 02) 596 - 9400</div>
  </div>
</div>
<div id="contents">
  <div class="container" style="padding: 0px 30px;">
    <div id="member_detail_1" class="col-sm-12" style="padding:0;">
      <div class="col-sm-3" style="padding:0px 15px;margin-top:15px;">
        <!--<img src="/main/images/templete/member1.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">-->
        <div id="side_tab_box">
          <div class="currentTab">
            <p>업무분야</p>
          </div>
          <div class="intabs_wrap">
            <p class="intab_in_currentTab">분야별</p>
            <p class="intab_in_currentTab">기획소송</p>
            <p class="intab_in_currentTab">업무일정</p>
          </div>
        </div>
      </div>
      <div class="col-sm-9" style="padding:0px 15px;margin-top:15px;">
        <p id="sortingTab" style="margin-bottom: 0px;border-bottom: 0px;">
          <span id="table_1" class="sortBtn active">전체</span>
          <span id="table_2" class="sortBtn">기업법무일반</span>
          <span id="table_3" class="sortBtn">금융</span>
          <span id="table_4" class="sortBtn">공정거래</span>
          <span id="table_5" class="sortBtn">조세-행정</span>
          <span id="table_6" class="sortBtn">지적재산권</span>
          <span id="table_7" class="sortBtn">부동산</span>
          <span id="table_8" class="sortBtn">엔터테인먼트-스포츠</span>
          <span id="table_9" class="sortBtn">가사</span>
          <span id="table_10" class="sortBtn">형사</span>
          <span id="table_11" class="sortBtn">일반 민사</span>
        </p>
        <%
          @table = []
          @table =
          [
            [10,	"일반 민사",            "일반 민사 제분야", 	            "[레벨:2]人本",	          "2012.08.06",	"12531"],
            [9,	  "형사",	                "형사",	 	                        "[레벨:3]administrator",  "2012.08.06",	"9265"],
            [8,	  "가사",	                "가사",	 	                        "[레벨:3]administrator",	"2012.08.06",	"10570"],
            [7,	  "엔터테인먼트·스포츠",	"엔터테인먼트∙스포츠	 fileimage","[레벨:3]administrator",	"2012.08.06",	"12347"],
            [6,	  "부동산",	              "부동산 · 건설 · 하자보수",	 	    "[레벨:3]administrator",	"2012.08.06",	"9162"],
            [5,	  "지적재산권",	          "지식재산권",	 	                  "[레벨:3]administrator",	"2012.08.06",	"9556"],
            [4,	  "조세·행정",	          "조세∙행정",	 	                  "[레벨:3]administrator",	"2012.08.06",	"9139"],
            [3,	  "공정거래",	            "공정거래",	 	                    "[레벨:3]administrator",	"2012.08.06",	"9415"],
            [2,	  "금융",	                "금융",	 	                        "[레벨:3]administrator",	"2012.08.06",	"9392"],
            [1,	  "기업법무일반",	        "기업법무일반	 fileimage",	      "[레벨:3]administrator",	"2012.08.06",	"9740"]
          ] 
        %>
        <table id="eTable_1" class="table table-hover">
          <thead>
            <tr>
              <th>번호</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <table id="eTable_2" class="table table-hover" style="display:none;">
          <thead>
            <tr>
              <th>#</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <table id="eTable_3" class="table table-hover" style="display:none;">
          <thead>
            <tr>
              <th>3</th>
              <th>분류</th>
              <th>제목</th>
              <th>글쓴이</th>
              <th>날짜</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <% @table.each do |row| %>
            <tr>
              <td><%= row[0] %></td>
              <td><%= row[1] %></td>
              <td><%= row[2] %></td>
              <td><%= row[3].to_s.split(']').last.to_s %></td>
              <td><%= row[4] %></td>
              <td><%= row[5] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="member_detail_2" class="col-sm-12" style="padding:0; display:none;">
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <img src="/main/images/templete/member2.jpg" style="width:100%;margin:0px 5px;box-shadow: #777 5px 5px 23px;">
      </div>
      <div class="col-sm-6" style="padding:0px 15px;margin-top:15px;">
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 학력</strong><br></p>
          <p class="detail" style="">광주 국제고등학교 졸업</p>
          <p class="detail" style="">성균관대학교 법학과 졸업</p>
          <p class="detail" style="">사법연수원 수료(제36기)</p>
        </div>
        <div class="trans">
          <p style="color:rgba(55, 122, 183, 1);"><strong class="point_gray1">■ 활동</strong><br></p>
          <p class="detail" style="">법무법인 나래 변호사</p>
          <p class="detail" style="">2007 우수국선변호인</p>
          <p class="detail" style="">2008 우수국선변호인</p>
          <p class="detail" style="">현 법무법인 인본 대표변호사</p>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #sortingTab{
    color:#377ab7;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px;
    padding-top: 7px;
    border-bottom: 3px solid;
    overflow: auto;
  }
  #sortingTab > span{
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    /*background: #673AB7;*/
    background:rgba(103, 58, 183, 0.75);
    box-shadow: 1px 1px 5px #555;
    font-size: 15px;
    padding: 7px 9px;
  }
  #sortingTab > span:hover{
    padding: 9px 9px;
  }
  #sortingTab > span.active{
    color: rgba(255, 255, 255, 1);
    background:rgba(103, 58, 183, 1);
  }
  .table{
    border-bottom: 2px solid;
    border-top: 2px solid;
  }
</style>
<script>
  $("#table_1").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_1").show();
  });
  $("#table_2").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_2").show();
  });
  $("#table_3").click(function(){
    $(".sortBtn").removeClass("active");
    $(".table").hide();
    $(this).addClass("active");
    $("#eTable_3").show();
  });
  // $("#member_2").click(function(){
  //   $("#member_1").removeClass("active");
  //   $("#member_detail_1").fadeOut();
  //   $(this).addClass("active");
  //   $("#member_detail_2").fadeIn();
  // });
</script>


<style>
  .address{
    font-size: 22px !important;
    font-weight: bold;
    color: #666;
  }
  .address > span.detail{
    font-size: 21px !important;
    font-weight: 400;
    color: #555;
    background:#fff;
  }
  .trans{
    margin-top:20px;
  }
  .trans > p.detail{
    font-size: 22px !important;
    padding-left:10px;
  }
</style>